
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_PageMain.cshtml";
}

<h2>Registro de acompañante</h2>
@using (Html.BeginForm("Action", "Controller", FormMethod.Post))
{
    @*crear un formulario para registar acompanante*@
<div class="container-fluid justify-content-lg-start">
    <div class="col-12 col-md-6 mt-4">
                @Html.Label("Nombre Completo")
    </div>
    <div class="col-12 col-md-6">
                @Html.TextBox("Nombre Completo")
    </div>
    <div class="col-12 col-md-6 mt-4">
                @Html.Label("Apellidos")
    </div>
    <div class="col-12 col-md-6">
                @Html.TextBox("Apellidos")
    </div>
       
    <div class="col-12 col-md-6 mt-4">
                @Html.Label("Edad")
    </div>
    <div class="col-12 col-md-6">
                @Html.TextBox("Edad")
    </div>
    <div class="col-lg mt-4">
            <input type="submit" value="Registar" class="btn btn-outline-dark" />
    </div>
</div>
        
}



